
*{
    box-sizing: border-box;
  }
  h1 {
    background-position: top;
    background-repeat: no-repeat;
    break-after: page;
  }
  h2 {
    color: orangered;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: top;
  }
  h3 {
    font-size: large;
    color: rgb(165, 128, 26);
    background-color: blueviolet;
  }
  .para {
    font-family: "Lucida Sans";
    font-size: smaller;
    color: brown;
    break-before: auto;
  }
  .list {
    background-size: 20px;
    text-decoration: none;
  }
  /*.box{
    background-color: rgb(242, 236, 236);
    color: rgb(30, 223, 24);
    height: 80px;
    border: 5px, dashed, olivedrab;
    text-align: center;
    padding: 20px;
  }*/
  .box {
    background-color: beige;
    color: rgb(18, 149, 231);
    width: 600px;
    height: 80px;
    border: 10px solid black;
    margin: 10px;
    padding: 50px;
    text-align: center;
    position: relative;
    top: 5px;
  }
  .nlink{
    margin: 50px;
    background-color: rgba(231, 240, 230, 0.434);
    text-decoration: none;  
  }
  .nlink2{
    border: 10px, cyan;
    margin: 1px;
    padding: 1px;
    text-decoration: none;
    background-color: rgb(117, 220, 14);
  }
  .box2{
    background-color: rgb(20, 220, 153);
    text-align-last: center;
  }
  .bin{
    height: 500px;
    width: 500px;
    background-color: rgb(192, 125, 24);
  }
  